Repository nikhillinit/Updog_restore, changes with the labels that .github/labeler.yml gives for each.
All labels: tests, infra, documentation, frontend, backend, dependencies, config

ci: add monthly skip debt report automation
  .github/workflows/skip-debt-report.yml
Labels: infra

ci: add monthly skip debt report automation
  .github/workflows/skip-debt-report.yml
Labels: infra

feat: add Stage A0 AI-augmented development gateway scripts
  CLAUDE.md
  ai-logs/.gitignore
  package.json
  scripts/ai-tools/apply-patch.js
  scripts/ai-tools/index.js
  scripts/ai-tools/run-tests.js
Labels: infra, documentation, dependencies

feat: add Stage A0 AI-augmented development gateway scripts
  CLAUDE.md
  ai-logs/.gitignore
  package.json
  scripts/ai-tools/apply-patch.js
  scripts/ai-tools/index.js
  scripts/ai-tools/run-tests.js
Labels: infra, documentation, dependencies

feat: add Stage A1 AI agent core framework with monorepo structure
  CLAUDE.md
  packages/agent-core/README.md
  packages/agent-core/examples/simple-agent.ts
  packages/agent-core/package-lock.json
  packages/agent-core/package.json
  packages/agent-core/src/BaseAgent.ts
  packages/agent-core/src/Logger.ts
  packages/agent-core/src/__tests__/BaseAgent.test.ts
  packages/agent-core/src/index.ts
  packages/agent-core/tsconfig.json
  packages/agent-core/vitest.config.ts
Labels: tests, documentation, config

feat: add Stage A1 AI agent core framework with monorepo structure
  CLAUDE.md
  packages/agent-core/README.md
  packages/agent-core/examples/simple-agent.ts
  packages/agent-core/package-lock.json
  packages/agent-core/package.json
  packages/agent-core/src/BaseAgent.ts
  packages/agent-core/src/Logger.ts
  packages/agent-core/src/__tests__/BaseAgent.test.ts
  packages/agent-core/src/index.ts
  packages/agent-core/tsconfig.json
  packages/agent-core/vitest.config.ts
Labels: tests, documentation, config

feat: add Stage B test-repair-agent with automated test failure detection and repair
  CHANGELOG.md
  CLAUDE.md
  packages/test-repair-agent/README.md
  packages/test-repair-agent/examples/repair-example.ts
  packages/test-repair-agent/package-lock.json
  packages/test-repair-agent/package.json
  packages/test-repair-agent/src/TestRepairAgent.ts
  packages/test-repair-agent/src/index.ts
  packages/test-repair-agent/tsconfig.json
  scripts/ai-tools/index.js
Labels: infra, documentation

feat: add Stage B test-repair-agent with automated test failure detection and repair
  CHANGELOG.md
  CLAUDE.md
  packages/test-repair-agent/README.md
  packages/test-repair-agent/examples/repair-example.ts
  packages/test-repair-agent/package-lock.json
  packages/test-repair-agent/package.json
  packages/test-repair-agent/src/TestRepairAgent.ts
  packages/test-repair-agent/src/index.ts
  packages/test-repair-agent/tsconfig.json
  scripts/ai-tools/index.js
Labels: infra, documentation

docs: establish documentation structure and memory management system
  DECISIONS.md
  cheatsheets/api.md
  cheatsheets/claude-commands.md
  cheatsheets/claude-md-guidelines.md
  cheatsheets/command-summary.md
  cheatsheets/init-vs-update.md
  cheatsheets/memory-commands.md
  cheatsheets/memory-commit-strategy.md
  cheatsheets/memory-patterns.md
  cheatsheets/testing.md
Labels: documentation

docs: establish documentation structure and memory management system
  DECISIONS.md
  cheatsheets/api.md
  cheatsheets/claude-commands.md
  cheatsheets/claude-md-guidelines.md
  cheatsheets/command-summary.md
  cheatsheets/init-vs-update.md
  cheatsheets/memory-commands.md
  cheatsheets/memory-commit-strategy.md
  cheatsheets/memory-patterns.md
  cheatsheets/testing.md
Labels: documentation

feat: add Stage C observability stack with Prometheus, Grafana, and Slack alerts
  docker-compose.observability.yml
  observability/README.md
  observability/alertmanager/alertmanager.yml
  observability/grafana/dashboards/agent-dashboard.json
  observability/prometheus/alerts.yml
  observability/prometheus/prometheus.yml
  package.json
  packages/agent-core/package.json
  packages/agent-core/src/BaseAgent.ts
  packages/agent-core/src/HealthMonitor.ts
  packages/agent-core/src/MetricsCollector.ts
  packages/agent-core/src/SlackNotifier.ts
  packages/agent-core/src/index.ts
  scripts/ai-tools/index.js
  scripts/ai-tools/metrics-server.js
Labels: infra, documentation, dependencies

feat: add Stage C observability stack with Prometheus, Grafana, and Slack alerts
  docker-compose.observability.yml
  observability/README.md
  observability/alertmanager/alertmanager.yml
  observability/grafana/dashboards/agent-dashboard.json
  observability/prometheus/alerts.yml
  observability/prometheus/prometheus.yml
  package.json
  packages/agent-core/package.json
  packages/agent-core/src/BaseAgent.ts
  packages/agent-core/src/HealthMonitor.ts
  packages/agent-core/src/MetricsCollector.ts
  packages/agent-core/src/SlackNotifier.ts
  packages/agent-core/src/index.ts
  scripts/ai-tools/index.js
  scripts/ai-tools/metrics-server.js
Labels: infra, documentation, dependencies

docs: update documentation for complete AI-augmented development system
  CHANGELOG.md
  CLAUDE.md
  README.md
  packages/agent-core/README.md
Labels: documentation

docs: update documentation for complete AI-augmented development system
  CHANGELOG.md
  CLAUDE.md
  README.md
  packages/agent-core/README.md
Labels: documentation

feat: implement Epic G1 Platform Hardening - complete infrastructure foundation
  .env.example
  .github/workflows/ci.yml
  CHANGELOG.md
  docs/observability.md
  docs/schema.md
  server/env.ts
  server/health.ts
  server/index.ts
  server/metrics.ts
  server/routes.ts
  vitest.config.ts
Labels: tests, infra, documentation, backend, config

feat: implement Epic G1 Platform Hardening - complete infrastructure foundation
  .env.example
  .github/workflows/ci.yml
  CHANGELOG.md
  docs/observability.md
  docs/schema.md
  server/env.ts
  server/health.ts
  server/index.ts
  server/metrics.ts
  server/routes.ts
  vitest.config.ts
Labels: tests, infra, documentation, backend, config

feat: implement Epic G2A event-sourced snapshot & toggle architecture with performance optimizations
  CHANGELOG.md
  CLAUDE.md
  client/src/components/timeline/TimelineSlider.tsx
  client/src/hooks/useFundToggle.ts
  scripts/cold-storage/export-to-s3.sh
  scripts/perf/generate-events.sql
  scripts/perf/k6-timeline-test.js
  server/errors.ts
  server/index.ts
  server/logger.ts
  server/metrics.ts
  server/middleware/async.ts
  server/middleware/validation.ts
  server/nats-bridge.ts
  server/routes.ts
  server/routes/timeline.ts
Labels: infra, documentation, frontend, backend

feat: implement Epic G2A event-sourced snapshot & toggle architecture with performance optimizations
  CHANGELOG.md
  CLAUDE.md
  client/src/components/timeline/TimelineSlider.tsx
  client/src/hooks/useFundToggle.ts
  scripts/cold-storage/export-to-s3.sh
  scripts/perf/generate-events.sql
  scripts/perf/k6-timeline-test.js
  server/errors.ts
  server/index.ts
  server/logger.ts
  server/metrics.ts
  server/middleware/async.ts
  server/middleware/validation.ts
  server/nats-bridge.ts
  server/routes.ts
  server/routes/timeline.ts
Labels: infra, documentation, frontend, backend

feat: SlackBatchAPI v1.0.0 with 50x performance improvements
  .claude/settings.local.json
  .github/workflows/auto-perf-log.yml
  CHANGELOG.md
  README.md
  SlackBatchAPI_v1.0.0_Release_Notes.md
  __tests__/slack-integration.test.ts
  __tests__/slack-simple.test.ts
  client/src/App.tsx
  package-lock.json
  package.json
Labels: tests, infra, documentation, frontend, dependencies

feat: SlackBatchAPI v1.0.0 with 50x performance improvements
  .claude/settings.local.json
  .github/workflows/auto-perf-log.yml
  CHANGELOG.md
  README.md
  SlackBatchAPI_v1.0.0_Release_Notes.md
  __tests__/slack-integration.test.ts
  __tests__/slack-simple.test.ts
  client/src/App.tsx
  package-lock.json
  package.json
Labels: tests, infra, documentation, frontend, dependencies

feat: Add SlackBatchAPI core implementation files
  docs/slack-batch-api-guide.md
  docs/slack-batch-implementation-guide.md
  docs/slack-etag-integration.md
  examples/slack-batch-usage.js
  lib/slack-batch-api.js
  lib/slack-etag-cache.ts
  lib/slack-observability-hook.js
  services/slackService.ts
Labels: documentation

feat: Add SlackBatchAPI core implementation files
  docs/slack-batch-api-guide.md
  docs/slack-batch-implementation-guide.md
  docs/slack-etag-integration.md
  examples/slack-batch-usage.js
  lib/slack-batch-api.js
  lib/slack-etag-cache.ts
  lib/slack-observability-hook.js
  services/slackService.ts
Labels: documentation

docs: Add SlackBatchAPI v1.0.0 release notice
  docs/releases/SlackBatchAPI-v1.0.0.md
Labels: documentation

docs: Add SlackBatchAPI v1.0.0 release notice
  docs/releases/SlackBatchAPI-v1.0.0.md
Labels: documentation

fix: 64,20: 📊 Burn-Down: docs/g2c_burndown.png
  .github/workflows/g2c-kickoff.yml
Labels: infra

fix: 64,20: 📊 Burn-Down: docs/g2c_burndown.png
  .github/workflows/g2c-kickoff.yml
Labels: infra

Add Codacy configuration and CI workflow
  .codacy.yml
  .github/workflows/codacy-analysis.yml
Labels: infra

Add Codacy configuration and CI workflow
  .codacy.yml
  .github/workflows/codacy-analysis.yml
Labels: infra

test: Add comment to verify Codacy integration
  README.md
Labels: documentation

chore: add G2C planning stubs to satisfy kickoff workflow
  sprint-g2c-automation-kickoff.md
  sprint-g2c-backlog.md
  sprint-g2c-ceremony-calendar.md
  sprint-g2c-master-checklist.md
  sprint-g2c-planning-agenda.md
  sprint-g2c-sanity-check.md
  sprint-g2c-stakeholder-summary.md
Labels: documentation

chore: move G2C planning stubs to docs directory
  docs/sprint-g2c-automation-kickoff.md
  docs/sprint-g2c-backlog.md
  docs/sprint-g2c-ceremony-calendar.md
  docs/sprint-g2c-master-checklist.md
  docs/sprint-g2c-planning-agenda.md
  docs/sprint-g2c-sanity-check.md
  docs/sprint-g2c-stakeholder-summary.md
  sprint-g2c-automation-kickoff.md
  sprint-g2c-backlog.md
  sprint-g2c-ceremony-calendar.md
  sprint-g2c-planning-agenda.md
  sprint-g2c-sanity-check.md
  sprint-g2c-stakeholder-summary.md
Labels: documentation

.github/labeler.yml:

# Configuration for actions/labeler
# https://github.com/actions/labeler

# Test-related changes
tests:
  - changed-files:
    - any-glob-to-any-file:
      - tests/**
      - '**/*.test.*'
      - '**/*.spec.*'
      - vitest.config.*
      - jest.config.*

# Skip debt tracking
skip-debt:
  - changed-files:
    - any-glob-to-any-file:
      - tests/**/*.skip.*
      - tests/**/*skip*
  - changed-content:
    - any-glob-to-any-file: tests/**
    - contains: ['\.skip\(', 'describe\.skip']

# Infrastructure and CI/CD
infra:
  - changed-files:
    - any-glob-to-any-file:
      - .github/**
      - scripts/**
      - Dockerfile*
      - docker-compose.*
      - '*.yml'
      - '*.yaml'

# Documentation
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - docs/**
      - LICENSE*

# Frontend changes
frontend:
  - changed-files:
    - any-glob-to-any-file:
      - client/**
      - '**/*.tsx'
      - '**/*.jsx'
      - '**/*.css'
      - '**/*.scss'

# Backend changes  
backend:
  - changed-files:
    - any-glob-to-any-file:
      - server/**
      - '**/*.sql'
      - '**/migrations/**'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - package.json
      - package-lock.json
      - yarn.lock
      - pnpm-lock.yaml

# Configuration
config:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.config.*'
      - tsconfig*.json
      - .env*
      - .eslintrc*
      - .prettierrc*
